<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
            <head>
                <title>Add Album</title>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            </head>
        <body>
    <h1>Add Album Form</h1>

        <form method="POST" action="/albums/add">
            <label>Album Title</label>
            <input type="text" name="title">
            <label>Artist</label>
            <input type="text" name="artist">
            <label>Number of tracks</label>
            <input type="number" name="songCount">
            <label>Length of album (secs)</label>
            <input type="number" name="length">
            <label>Album art url</label>
            <input type="text" name="imageUrl">
            <input type="submit" />
        </form>
    </body>
</html>